* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

::selection {
    background: #f48b8b;
    color: #fff;
    -moz-background: #f48b8b;
    color: #fff;
    -webkit-background: #f48b8b;
    color: #fff;
    -ms-background: #f48b8b;
    color: #fff;
}

.logo {
    width: 60px;
    padding: 35px;
}

header {
    background: url(https://toxs1k.github.io/HNY/img/fon.png);
    padding-bottom: 264px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.hny {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    color: #f55671;
}

.cong {
    font-size: 17px;
    text-align: center;
    padding: 20px;
    padding-bottom: 35px;
}

.left {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
}

.hny2 {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
    box-shadow: 20px 0 20px rgba(0,0,0,0.5);
}

h5 {
    font-family: Arial , sans-serif;
    font-size: 40px;
    color: #333333;
    text-transform: uppercase;
}

.links {
    text-align: center;
}

.icon img {
    padding-top: 25px;
    width: 50px;
}

.user {
    font-size: 30px;
    color: #e64646
}

.user img {
    width: 30px;
}
.text {
    font-size: 20px;
    color: #528bcc;
}

.powered {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.powered a {
    color: #71aaeb;
}

@media (max-width: 720px) {
    .left img {
        padding-left: 10px;
        padding-right: 10px;
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
    }
    .hny2 {
        font-size: 2;
    }
}
    