* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	width: 100%;
	background: url(img/1.png);
}

header {
	padding-top: 2%;
}

h1 {
	font-size: 45px;
}

p {
	font-size: 20px
}

h3 {
	font-size: 25px;
}

h2, h4 {
	font-size: 30px
}

.header, label {
	color: white;
	text-align: center;
}

.ip {
	display: inline-flex;
}

#text_copy_link{
	cursor:pointer;
}

.copy_link_mess{
	line-height:40px;
	border-radius:5px;
	background:#1DA1F2;
	color:#fff;
	position:fixed;
	padding:0 15px;
	z-index:99;
	bottom:30px;
	left:50%;
	margin-left:-120px;
	display:none;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px
}

.decor {
	position: relative;
	max-width: 400px;
	margin: 20px auto 0;
	background: white;
	border-radius: 30px;
}

.form-inner {
	padding: 50px;
}

.form-inner input, .form-inner textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	background: #E9EFF6;
	line-height: 30px;
	border-width: 0;
	border-radius: 20px;
}

.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #f69a73;
   border-bottom: 4px solid #d87d56;
   color: white;
   font-size: 14px;
}

.form-inner textarea {
   resize: none;
}

input, textarea{
	padding-left: 10px;
}

input[name="nick"] {
	margin-top: 25px;
}

input[name="description"] {
	height: 100px
}

textarea, input {
	outline: none;
	-moz-appearance: none;
	border: 1px solid #999;
	resize: none;
	font-size: 9.5pt;
}

@media (max-width: 720px) {
	body {
		background-position: 50% 10%;
		background-attachment: fixed;
	}
	h1 {
		padding-top: 10px;
	}
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 15px
	}
	h2{
		font-size: 25px
	}
	h3 {
		font-size: 20px;
	}
	.form-inner {
		padding: 40px;
	}
	textarea, input {
		font-size: 9.5pt;
	}
	textarea {
		overflow:hidden
	}
}